/*
##########################################

[ny]@ ANIMATION 구현에 해당하는 css

*깜빡임
*로딩

##########################################
*/


/* [ny]깜빡임 애니메이션 */
.blinking {
  -webkit-animation: blink 0.35s ease-in-out infinite alternate;
  -moz-animation: blink 0.35s ease-in-out infinite alternate;
  animation: blink 0.35s ease-in-out infinite alternate;
}

@-webkit-keyframes blink {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-moz-keyframes blink {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes blink {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/* [ny]로딩 애니메이션 */
.dot-pulse {
  --uib-size: 40px;
  --uib-speed: 1.3s;
  --uib-color: #eaa419;

  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: var(--uib-size);
  height: calc(var(--uib-size) * 0.27);
}

.dot-pulse__dot,
.dot-pulse::before,
.dot-pulse::after {
  content: '';
  display: block;
  height: calc(var(--uib-size) * 0.18);
  width: calc(var(--uib-size) * 0.18);
  border-radius: 50%;
  background-color: var(--uib-color);
  transform: scale(0);
}

.dot-pulse::before {
  animation: pulse var(--uib-speed) ease-in-out infinite;
}

.dot-pulse__dot {
  animation: pulse var(--uib-speed) ease-in-out calc(var(--uib-speed) * 0.125) infinite both;
}

.dot-pulse::after {
  animation: pulse var(--uib-speed) ease-in-out calc(var(--uib-speed) * 0.25) infinite;
}

@keyframes pulse {

  0%,
  100% {
    transform: scale(0);
  }

  50% {
    transform: scale(1.5);
  }
}

/* [ny]타이핑 애니메이션 */

.typewriter p {
  color: black;
  overflow: hidden;
  /* Ensures the content is not revealed until the animation */
  border-right: .15em solid orange;
  /* The typwriter cursor */
  white-space: nowrap;
  /* Keeps the content on a single line */
  margin: 0 auto;
  /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em;
  /* Adjust as needed */
  animation:
    typing1 3.5s steps(30, end),
    blink-caret .5s step-end infinite;
}

.typewriter h1 {
  color: black;
  overflow: hidden;
  /* Ensures the content is not revealed until the animation */
  border-right: .15em solid orange;
  /* The typwriter cursor */
  white-space: nowrap;
  /* Keeps the content on a single line */
  margin: 0 auto;
  /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em;
  /* Adjust as needed */
  animation:
    typing2 1.5s steps(10, end),
    blink-caret .5s step-end infinite;
}

/* The typing effect */
@keyframes typing1 {
  from {
    width: 0
  }

  to {
    width: 100%
  }
}

@keyframes typing2 {
  from {
    width: 0
  }

  to {
    width: 35%
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {

  from,
  to {
    border-color: transparent
  }

  50% {
    border-color: orange
  }
}

/* [ny]아이콘 움직이는 애니메이션 */
.icon {
  font-size: 5em;
  animation: motion 0.7s
    /* [ny]속도 */
    linear 0s
    /* [ny]처음부터 끝까지 일정 속도로 진행 */
    infinite alternate;
  /* [ny]무한 반복 */
  animation-delay: 3s
}

@keyframes motion {
  0% {
    margin-top: 0px;
  }

  /* [ny]처음 위치 */
  100% {
    margin-top: 10px;
  }

  /* [ny]마지막 위치 */
}

/*progress bar animation*/
.row {
  padding: 4em 3em;
}

.textbox {
  height: 700px;
}

.progress {
  margin-top: 5px;
  border-radius: 8px;
}

.progress-bar {
  width: 0;
}

/*[ny]코인 움직이는 애니메이션*/
#coin {
  animation: motion 0.6s linear 0s infinite alternate;
  margin-top: 0;
}

@keyframes motion {
  0% {
    margin-top: 0px;
  }

  100% {
    margin-top: 6px;
  }
}

/*[ny]text 깜빡임 효과*/
@keyframes blink-effect {
  50% {
    opacity: 0.7;
  }
}

.blink {
  animation: blink-effect 0.8s step-end infinite;
}

/*[ny] 채널 깜빡임 효과 */
@keyframes channel-blink-effect {
  50% {
    opacity: 0.6;
  }
}

.channel_blink {
  animation: channel-blink-effect 0.9s step-end infinite;
}

/*[ny] game caption 깜빡임 효과 */
@keyframes caption-blink-effect {
  50% {
    opacity: 0.2;
  }
}

.caption_blink {
  animation: caption-blink-effect 0.8s step-end infinite;
}

/*[ny]pass 문구 effect*/

.pass_span {
  display: inline-block;
  font-size: 40px;
  font-weight: 500;
  margin: 0;
  color: black;
}

.next_span {
  display: inline-block;
  font-size: 40px;
  font-weight: 500;
  margin: 0;
  color: #2E64FE;
}

.next_span_info {
  display: inline-block;
  font-size: 13px;
  margin: 0;
  color: red;
}

.space {
  display: inline-block;
  width: 10px;
}

/*[ny]glance 로딩 애니메이션*/

.loading div{

      /* position: absolute; */
      margin:0 auto;
      border: 9px solid orange;
      border-radius: 50%;
      border-color: orange transparent transparent transparent;
      width: 80px;
      height: 80px;
      animation: spinning 1.2s infinite;

      &:nth-child(1){
          animation-delay: -0.3s;
      }
      &:nth-child(2){
          animation-delay: -0.2s;
      }
      &:nth-child(3){
          animation-delay: -0.1s;
      }
}

@keyframes spinning {
  from {
      transform: rotate(0);
  }
  to {
      transform: rotate(360deg);
  }
}

/*[ny]지목 당했을 때*/
@keyframes warning {
  0%{
    background-color: white;
  }
  100%{
    background-color: rgb(249, 219, 219);
  }
}

.warnings {
  animation-name: warning;
  animation-duration: 1.3s;
  animation-iteration-count: infinite;
}


/*[ny]정체 밝히기 애니메이션*/
@keyframes moving {
  0% {
      transform: translate(-80%, 0%);
      opacity: 0.1;
  }
  25%{
      transform: translate(90%, 40%);
  }
  50% {
      transform: translate(-90%, 110%);
      opacity: 1;
  }
  75% {
      transform: translate(100%, 160%);
  }
  to {
      transform: translate(0%, 50%);
      opacity: 0;
  }

}

.detect{
  
  animation: moving 3s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}

/*[ny]유령 죽음*/
@keyframes go_up {
  0%{
      opacity:1;
  }
  to{
      opacity:0;
      transform: translateY(-100px);
  }
}

.ghost{
  animation: go_up 3.6s;
  animation-timing-function: ease_out;
  animation-fill-mode: forwards;
}
