/*
##########################################

@ [ny]TITLE component에 해당하는 css

*현재 생존자 수, 봇 수
*채널 배너
*layout1 - 현재 감정 표시창
*layout1 - 현재 라운드 표시창

##########################################
*/


/* [ny]표(bot, 인간표시) - layout1*/
.table{
    
    border-spacing: 10px;
    border-collapse: separate;
}

.th, td{
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 10px;
    padding-right: 10px;
}

#lay1_photo{
    width: 28px;
    height: 28px;
}
/**/

/*[ny]맨 처음 채널 나타나내는 배너  - layout1 */
#channel{
    margin: auto;
    margin-right: 100px;
    width: 153px;
    height: 29px;
    background-color: white;
    border: none;
    border-radius: 7px;
    color: white;
    text-shadow: -2px 0 #000000, 0 2px #000000, 2px 0 #000000, 0 -2px #000000;
    font-size: 30px;
    text-align: center;
    font-family: 'DungGeunMo';
    /* box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.2); */
}

#channel_bot {
    margin-left: 100px;
    width: 50px;
    height: 50px;
}

/**/

/* [ny]감정 버튼 - layout1 */
#emotion{
    background-color: #EBC604;
    border: 0px;
    border-radius: 5px;
    color: white;
    margin-left: 10px;
    width: 93px;
    height: 39px;
    margin-top: 10px;
    font-family: 'DungGeunMo';
    font-size: large;
}
/**/

/* [ny]라운드 버튼  - layout1*/
#round{
    background-color: black;
    border: 0px;
    border-radius: 5px;
    color: white;
    width: 113px;
    height: 39px;
    margin-left: 10px;
    margin-top: 10px;
    font-family: 'DungGeunMo';
    font-size: large;
    
}

#find_bot_img{
    width: 40px;
    height: 40px;
    margin: auto;
}
/**/